body {
background-image: url('../img/bg.png')   ;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}

img {
    margin-top: 30px;
   
}

h1 {
    margin: auto;
    margin-top: 30px;
    margin-bottom:30px ;
    width: 600px;
}


p {background-color: white;
    width: 500px;
    margin: auto;
    padding: 30px;
    font-style: italic;
    border-width: 1px;
    border-style: solid;
}
span {
    font-size: 30px;
   
}
