body {
    background-color: black;
    margin: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 15px;
}

.bloc {
    display: flex;
    min-height: 80vh;
}

#gauche {
    text-align: center;
    background-color: rgb(92, 92, 93);
    padding-right: 10px;
    width: 15%;
}
#droite {
    text-align: center;
    background-color: rgb(92, 92, 93);
    padding-left: 10px;
    width: 15%;
}

#central {
    width: 70%;
    background-color: white;
    padding: 20px;
}

h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

footer {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}
